<!DOCTYPE html>
<html lang="{{ site.lang | default: "de-DE" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
		<p><a href="https://tiny.one/xship">https://tiny.one/xship <strong>Quelle für Kodi</strong></a></p>
		<p><img src="assets/qr/qr_xship.png" alt="xShip QR Code" width="128" height="128"></p>
		
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="https://watchone.github.io/repository.xship-1.3.zip">Download <strong>Repository</strong></a></li>
		  <li><a href="https://github.com/watchone/watchone.github.io/raw/master/zips/players.zip">Download <strong>TMDb Player</strong></a></li>
		  
        </ul>
		

        {% endif %}
      </header>
      <section>
		
      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
